#Anthony input.name {
	background: rgb(255, 255, 255);
}

#Anthony h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    color: #AAA;
    margin-top: 45px;
}

input[type="button"] {
	margin-top: 60px;
	padding: 8px 20px;
	border: none;
	outline: none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 600;
	color: #501522;
	background-color: #FFF;
}
input[type="button"]:hover {
	background-color: #000;
	color: #FFF;
}

#ans {
	visibility: hidden;
}

.text4input {
	color: #fff;
	padding-bottom: 5px;
	font-size: 15px;
}